/* ----- mixines ----- */

@mixin borderTxt {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: fit-content;
}

@mixin cBlue {
    color: #08587d;
}

@mixin bgBlue {
    background: #08587d;
}

@mixin cBlue2 {
    color: #5085e7;
}

@mixin cRed {
    color: #be211c;
}

@mixin cYellow {
    color: #efc90c;
}

@mixin bgGrey {
    background: #2f2c2c;
}

@mixin scale {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    // filter: grayscale(1);
}

/* ----- otros ----- */

.nextui-tooltip-content {
    padding: 2px 7px;
    opacity: 0.5 !important;
    user-select: none;
    z-index: 2;
    margin-top: -10px;

    .nextui-tooltip {
        font-size: 11px;
    }
}

.greyColor {

    filter: contrast(65%);
    transform: scale(1) !important;
    cursor: inherit !important;

    img {

        filter: saturate(0%);
    }
}

.buttonMl-0 {
    margin-left: 0px !important;
}

.buttonBuy2,
.buttonBuy3,
.buttonBuy,
.buttonMore {
    display: block;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    width: 120px !important;
    margin: 5px;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #919090d0;
    text-decoration: none;
    transition: 0.3s;
    // text-transform: uppercase;

    &:focus,
    &:active,
    &:hover {
        color: white !important;
        opacity: 0.9;
        @include scale()
    }
}

.buttonBuy {
    @include bgGrey()
}

.buttonBuy2 {
    @include cBlue2();
    @include bgGrey();
}

.buttonBuy3 {
    @include cYellow();
    @include bgGrey();
}

.buttonMore {
    @include bgBlue()
}

.buyMP,
.buyAm {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #919090d0;
    width: 120px;
    height: 65px;
    background: white;
    transition: 0.3s;

    &:focus,
    &:active,
    &:hover {
        @include scale()
    }

    img {
        border-radius: 20px;
        width: -webkit-fill-available;
    }
}

.buyAm {
    padding: 12px 10px 8px 10px;
}

.buyMP {
    padding: 0px 2px;
}

#boxBook {
    max-width: 1300px;

    .imageBook {
        box-shadow: 0px 0px 10px 1px #919090d0;
    }
}

.detailBook {
    padding: 5px 30px;

    .titleBook {
        font-size: 30px;
        font-weight: 500;
    }

    .observationBlue,
    .observationRed {
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
        @include cBlue2();
    }

    .observationRed {
        @include cRed();
    }

    .detBook {
        display: flex;
        margin: 0px;
        padding: 0px;
        margin-bottom: 12px;
    }

    .detNormBook {
        margin-bottom: 10px;
    }

    .detMargBook {
        margin-left: 10px;
    }

    .detSubrBook {
        font-weight: 600;
        @include borderTxt();
        border-bottom-width: 3px;
        border-image: linear-gradient(to right, #d3d3d3 0%, #d3d3d3 100%) 1;
    }

    .detNormBook,
    .detMargBook,
    .detSubrBook {
        font-size: 18px;
    }

    .detMargBook,
    .detSubrBook {
        line-height: 19px !important;
        margin-bottom: 2px;
    }

    .detNormBook,
    .detMargBook {
        color: #474747;
        font-weight: 400;
    }

    .boxButtonsBook {
        display: flex;
    }

    .readBook {
        margin: 30px 0;

        p {
            font-size: 18px;
            color: #1f1f1f;
            font-weight: 400;
        }

        hr {
            margin: 30px 0;
        }

        .chapter {
            font-size: 22px;
            color: #030303;
            font-weight: 600;
            text-align: center;
            font-style: italic;
        }
    }
}

.bookImages {
    min-width: 100%;

    h2 {
        text-align: center;
    }

    .boxImages {
        display: flex;
        align-items: center;
        justify-content: center !important;
        width: 100%;

        .contImage {
            width: fit-content;
            justify-items: center;
            margin: 7px;

            img {
                padding: 8px;
                max-width: -webkit-fill-available;
                min-height: 100px;
                max-height: 250px;
                height: 250px;
                box-shadow: 0px 0px 10px 1px #919090d0;
            }

            .photoDesc {
                display: none;
            }

            transform: 3s;
            transition:3s;


            // &:active {
            //     width: fit-content;
            //     justify-items: center;
            //     margin: 7px;
            //     position: relative;

            //     .photoBox {
            //         position: absolute;
            //         left: 50%;
            //         top: 50%;
            //         box-shadow: 0px 0px 10px 1px #919090d0;

            //         img {
            //             padding: 8px;
            //             padding-bottom: 5px;
            //             max-width: -webkit-fill-available;
            //             min-height: 50vh;
            //             max-height: 50vh;
            //             height: 50vh;
            //         }

            //         .photoDesc {
            //             display: inline;
            //             margin: 0 4px 6px 4px;
            //             padding: 0 3px;
            //             background: #141414;
            //             color: white;
            //             font-family: 'Courier New', Courier, monospace;
            //             font-weight: 500;
            //         }
            //     }
            // }
        }

    }
}

/* Header */

.layoutChild {
    min-height: calc(94vh - 171px);
    padding: 25px 0px;
    margin-top: 60px;
}

#header {
    background: white;
    position: fixed;
    z-index: 10010;
    width: 100%;
    box-shadow: 0px 8px 9px 0px #a8a7a781;

    .logo {
        width: 33vw;
        max-width: 380px;
    }

    .navbar-toggler:focus,
    .navbar-toggler :active,
    .navbar-toggler :hover {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .collapse {
        justify-content: flex-start;

        li {
            margin: 0px;
        }

        .nav-link {
            font-size: 17px;
            font-weight: 500;
            @include cBlue();
            margin: 0px 15px;
        }

        .active .nav-link {
            text-decoration: 1.5px underline #2b7699;
        }
    }
}

/* Footer */

#footer-form h3 {
    font-weight: bold;
    text-transform: uppercase;
}

#footer-links,
#footer-links a {
    background: #141414;
    color: #8d8f94;
    font-size: 12px;
    cursor: pointer;
}

#footer-links p:hover,
#footer-links a:hover {
    @include cYellow();
    text-decoration: none;
}

#footer-links hr {
    border-top: 1px solid #919191;
}

@media (max-width: 340px) {
    .navbar {
        padding: 8px 1px !important;
    }
}

@media (max-width: 600px) {
    #header-transparent #navbarToggler.show {
        background: #001637;
        z-index: 99;
        padding: 0px 20px;
    }
}

@media (max-width: 991px) {
    .layoutChild {
        min-height: 94vh;
        padding: 0px;
        margin-top: 0px;
    }

    // .layoutChild>div {
    //     // padding-top: 0px !important;
    // }

    #header {
        box-shadow: none;
        position: inherit;

        nav {
            padding: 10px 0px 0px 0px !important;
        }

        .collapse li .nav-link {
            padding: 2px;
        }

        .navbar-expand-lg .show {
            box-shadow: 0px 8px 9px 0px #a8a7a781;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 1170px) {
    #navbar-toggler {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #navbar-toggler {
        display: none !important;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .navbar-toggler {
        display: flex !important;
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 1370px) {
    .logo {
        width: 28vw;
    }

    #header a,
    #header-transparent a {
        font-size: 0.9rem;
    }
}