/* ----- mixines ----- */

@mixin borderTxt {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: fit-content;
}

@mixin cBlue {
    color: #08587d;
}

@mixin bgBlue {
    background: #08587d;
}

@mixin scale {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    // filter: grayscale(1);
}

/* ----- otros ----- */

.buttonBuy2,
.buttonBuy3,
.buttonBuy,
.buttonMore {

    display: block;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    width: 120px !important;
    margin: 5px !important;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #919090d0;
    // text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;

    &:focus,
    &:active,
    &:hover {
        color: white !important;
        opacity: 0.9;
        @include scale()
    }
}

.buttonBuy {
    background: #2f2c2c;
}

.buttonBuy2 {
    color: rgb(80, 133, 231);
    background: #2f2c2c;
}

.buttonBuy3 {
    color: rgb(245, 222, 12);
    background: #2f2c2c;
}

.buttonMore {
    @include bgBlue()
}

.buyMP,
.buyAm {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #919090d0;
    width: 120px;
    height: 65px;
    background: white;
    transition: 0.3s;

    &:focus,
    &:active,
    &:hover {
        @include scale()
    }

    img {
        border-radius: 20px;
        width: -webkit-fill-available;
    }
}

.buyAm {
    margin-left: 0px;
    padding: 12px 10px 8px 10px;
}

.buyMP {
    margin-right: 0px;
    padding: 0px 2px;


}

#boxBook {

    max-width: 1200px;

    .imageBook {
        box-shadow: 0px 0px 10px 1px #919090d0;
    }
}

.detailBook {
    padding: 30px;

    .titleBook {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .subtBook {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 6px;
        @include borderTxt();
        border-bottom-width: 3px;
        border-image: linear-gradient(to right, #d3d3d3 0%, #d3d3d3 100%) 1;
    }

    .descBook {
        font-size: 18px;
        color: #474747;
        font-weight: 400;
    }

    .boxButtonsBook {
        display: flex;
    }

    .readBook {
        margin: 30px 0;

        p {
            font-size: 18px;
            color: #1f1f1f;
            font-weight: 400;
        }

        hr {
            margin: 30px 0;
        }

        .chapter {
            font-size: 22px;
            color: #030303;
            font-weight: 600;
            text-align: center;
            font-style: italic;
        }

    }
}

.bookImages {

    h2 {
        text-align: center;
    }

    min-width: 100%;

    .boxImages {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .contImage {

            margin: 7px;
            // max-width: 220px;



            min-height: 100px;
            max-height: 220px;
            height: 220px;
            img {
                // object-fit: contain !important;
                // height: 220px;
                max-width: -webkit-fill-available;
                max-height: -webkit-fill-available;

                box-shadow: 0px 0px 10px 1px #919090d0;
            }
        }
    }
}

/* Header */

.layoutChild {
    min-height: calc(94vh - 171px);
    padding: 25px 0px;
    margin-top: 60px;
}

#header {
    background: white;
    position: fixed;
    z-index: 10010;
    width: 100%;
    box-shadow: 0px 8px 9px 0px #a8a7a781;

    .logo {
        width: 33vw;
        max-width: 380px;
    }

    .navbar-toggler:focus,
    .navbar-toggler :active,
    .navbar-toggler :hover {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .collapse {
        justify-content: flex-start;

        li {
            margin: 0px;
        }

        .nav-link {
            font-size: 17px;
            font-weight: 500;
            @include cBlue();
            margin: 0px 15px;
        }

        .active .nav-link {
            text-decoration: 1.5px underline #2b7699;
        }
    }
}

/* Footer */
#footer-calendar {
    /* width: 70%; */
    background-color: #032a51;
    border-radius: 17px;
}

#footer-calendar h2 {
    text-transform: uppercase;
    font-size: 24px;
}

#footer-calendar .calendar-title h3 {
    /* background: #113f77; */
    color: white;
    font-size: 12px;
    padding: 12px;
    text-transform: uppercase;
    margin: 0;
}

#footer-calendar .calendar-digit {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

#footer-calendar .calendar-digit p {
    /* background-color: #001637; */
    font-size: 12px;
    margin: 0;
    /* height: 60%; */
    /* padding: 10px 0px; */
}

#footer-calendar .calendar-advance {
    /* background-color: #efc90c !important; */
    font-size: 12px;
    padding: 10px 0px;
    color: white;
    font-weight: bold;
    min-height: 50px;
}

#footer-calendar .calendar-digit p span {
    font-size: 40px;
    font-weight: bold;
}

#footer-form {
    background-color: #001637;
}

#footer-form h3 {
    font-weight: bold;
    text-transform: uppercase;
}

#footer-form span {
    color: #efc90c;
}

#footer-links,
#footer-links a {
    background-color: black;
    color: #919191;
    font-size: 12px;
    cursor: pointer;
}

#footer-links p:hover,
#footer-links a:hover {
    color: #efc90c;
    text-decoration: none;
}

#footer-links hr {
    border-top: 1px solid #919191;
}

@media (max-width: 340px) {

    .navbar {
        padding: 8px 1px !important;
    }
}

@media (max-width: 600px) {
    #header-transparent #navbarToggler.show {
        background: #001637;
        z-index: 99;
        padding: 0px 20px;
    }
}

@media (max-width: 991px) {
    .layoutChild {
        min-height: 94vh;
        padding: 0px;
        margin-top: 0px;
    }

    // .layoutChild>div {
    //     // padding-top: 0px !important;
    // }

    #header {
        box-shadow: none;
        position: inherit;

        nav {
            padding: 10px 0px 0px 0px !important;
        }

        .collapse li .nav-link {
            padding: 2px;
        }

        .navbar-expand-lg .show {
            box-shadow: 0px 8px 9px 0px #a8a7a781;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 1170px) {
    #navbar-toggler {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #navbar-toggler {
        display: none !important;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .navbar-toggler {
        display: flex !important;
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 1370px) {
    .logo {
        width: 28vw;
    }

    #header a,
    #header-transparent a {
        font-size: 0.9rem;
    }
}