/* --------- mixines --------- */

@mixin borderTxt {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: fit-content;
}

@mixin cBlue {
    color: #0180b7;
}

@mixin bgBlue {
    background: #0a93ce;
}

@mixin cBlue2 {
    color: #5085e7;
}

@mixin cRed {
    color: #be211c;
}

@mixin cYellow {
    color: #efc90c;
}

@mixin bgGrey {
    background: #2f2c2c;
}

@mixin scale {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    // filter: grayscale(1);
}

/* --------- generales --------- */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    outline: none !important;
    border: none;

    &:focus,
    &:active,
    & :hover {
        outline: none;
        border: none;
        // box-shadow: none;
    }
}

.pointer {
    cursor: pointer !important;
}

.ff-gotham {
    font-family: Gotham, Arial, sans-serif;
}

.d-contents {
    display: contents !important;
}

.vert-align {
    vertical-align: middle;
}

.vert-align-super {
    vertical-align: super;
}

/* --------- nextUI --------- */

.nextui-tooltip-content {
    padding: 2px 7px;
    opacity: 0.5 !important;
    user-select: none;
    z-index: 2;
    margin-top: -10px;

    .nextui-tooltip {
        font-size: 11px;
    }
}

.nextui-spinner {
    width: 80px !important;
    height: 80px !important;

    .nextui-spinner-container {
        --nextui--loadingColor: #868a83;
    }
}

.nextui-spinnerOverflow {
    overflow-y: hidden;
}

/* --------- otros --------- */

.greyColor {

    filter: contrast(65%);
    transform: scale(1) !important;
    cursor: inherit !important;

    img {

        filter: saturate(0%);
    }
}

.buttonMl-0 {
    margin-left: 0px !important;
}

.buttonBuy2,
.buttonBuy3,
.buttonBuy,
.buttonMore {
    display: block;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    width: 120px !important;
    margin: 5px;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #919090d0;
    text-decoration: none;
    transition: 0.3s;
    // text-transform: uppercase;

    &:focus,
    &:active,
    &:hover {
        color: white !important;
        opacity: 0.9;
        @include scale()
    }
}

.buttonBuy {
    @include bgGrey()
}

.buttonBuy2 {
    @include cBlue2();
    @include bgGrey();
}

.buttonBuy3 {
    @include cYellow();
    @include bgGrey();
}

.buttonMore {
    @include bgBlue()
}

.buyMP,
.buyAm {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #919090d0;
    width: 120px;
    height: 65px;
    background: white;
    transition: 0.3s;

    &:focus,
    &:active,
    &:hover {
        @include scale()
    }

    img {
        border-radius: 20px;
        width: -webkit-fill-available;
    }
}

.buyAm {
    padding: 12px 10px 8px 10px;
}

.buyMP {
    padding: 0px 2px;
}

#boxBook {
    max-width: 1300px;

    .imageBook {
        box-shadow: 0px 0px 10px 1px #919090d0;
    }
}

.detailBook {
    padding: 5px 30px;

    .titleBook {
        font-size: 30px;
        font-weight: 500;
    }

    .observationBlue,
    .observationRed {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        @include cBlue2();
    }

    .observationRed {
        @include cRed();
    }

    .detBook {
        display: flex;
        margin: 0px;
        padding: 0px;
        margin-bottom: 12px;
    }

    .detNormBook {
        margin-bottom: 10px;
    }

    .detMargBook {
        margin-left: 10px;
    }

    .detSubrBook {
        font-weight: 600;
        @include borderTxt();
        border-bottom-width: 2px;
        border-image: linear-gradient(to right, #d3d3d3 0%, #0180b7 100%) 1;

        // border-bottom-width: 3px;
        // border-image: linear-gradient(to right, #d3d3d3 0%, #d3d3d3 100%) 1;
    }

    .contentDescription {
        width: 100%;
        max-height: 378px;
        overflow: hidden;
        /* Esconde contenido excedente */
        word-wrap: break-word;
        /* Rompe palabras largas */
        white-space: normal;
        /* Permite saltos de línea normales */
        text-overflow: ellipsis;
        /* Añade puntos suspensivos si es necesario */
        box-sizing: border-box;
        /* Incluye el padding dentro del ancho total */
        transition: max-height 0.3s ease;
        /* Suaviza la transición */
        /* Añade espacio interno para el texto */

        .expanded {
            max-height: none;
            /* Permite expandir el contenedor completamente */
            overflow: visible;
            /* Muestra todo el contenido */
        }

        .detNormBook {
            margin: 0 0 5px;
            /* Espaciado entre párrafos */
            line-height: 1.6;
            /* Mejora la legibilidad */
        }
    }

    .descriptionExpand {
        margin: 0px;
        padding-top: 5px;
        color: white;
        cursor: pointer;
        @include cBlue;

        &:hover {
            opacity: 0.8;
            background-color: #444;
        }
    }


    .detNormBook,
    .detMargBook,
    .detSubrBook {
        font-size: 18px;
    }

    .detMargBook,
    .detSubrBook {
        line-height: 19px !important;
        margin-bottom: 2px;
    }

    .detNormBook,
    .detMargBook {
        color: #474747;
        font-weight: 400;
    }

    .boxButtonsBook {
        display: flex;
    }

    .readBook {
        margin: 30px 0;

        p {
            font-size: 18px;
            color: #1f1f1f;
            font-weight: 400;
        }

        hr {
            margin: 30px 0;
        }

        .chapter {
            font-size: 22px;
            color: #030303;
            font-weight: 600;
            text-align: center;
            font-style: italic;
        }
    }
}

.bookImages {
    min-width: 100%;

    h2 {
        text-align: center;
    }

    .boxImages {
        display: flex;
        align-items: flex-start;
        justify-content: center !important;
        width: 100%;

        .contImage {
            width: fit-content;
            justify-items: center;
            margin: 7px;
            transform: 3s;
            transition: 3s;

            .photoBox {
                display: table-caption;

                .pictureFrame {
                    padding: 8px;
                    box-shadow: 0px 0px 10px 1px #919090d0;

                    img {
                        max-width: -webkit-fill-available;
                        min-height: 100px;
                        max-height: 250px;
                        height: 280px;
                        border-radius: 15px;
                    }
                }

                .photoDesc {
                    // display: none;
                    display: flex;
                    margin: 0 4px 6px 4px;
                    padding: 5px 7px;
                    background: #141414;
                    color: white;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: 500;
                }
            }

            // &:active {
            //     width: fit-content;
            //     justify-items: center;
            //     margin: 7px;
            //     position: relative;

            //     .photoBox {
            //         position: absolute;
            //         left: 50%;
            //         top: 50%;
            //         box-shadow: 0px 0px 10px 1px #919090d0;


            //         .pictureFrame {
            //             padding: 8px;
            //             padding-bottom: 5px;

            //             img {
            //                 max-width: -webkit-fill-available;
            //                 min-height: 50vh;
            //                 max-height: 50vh;
            //                 height: 50vh;
            //             }
            //         }

            //         .photoDesc {
            //             display: inline;
            //             margin: 0 4px 6px 4px;
            //             padding: 0 3px;
            //             background: #141414;
            //             color: white;
            //             font-family: 'Courier New', Courier, monospace;
            //             font-weight: 500;
            //         }
            //     }
            // }
        }
    }
}

/* Header */

.layoutChild {
    min-height: calc(94vh - 171px);
    padding: 25px 0px;
    margin-top: 60px;
}

#header {
    background: white;
    position: fixed;
    z-index: 10010;
    width: 100%;
    box-shadow: 0px 8px 9px 0px #a8a7a781;

    .logo {
        width: 33vw;
        max-width: 380px;
    }

    .navbar-toggler:focus,
    .navbar-toggler :active,
    .navbar-toggler :hover {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .collapse {
        justify-content: flex-start;

        li {
            margin: 0px;
        }

        .nav-link {
            font-size: 17px;
            font-weight: 500;
            @include cBlue();
            margin: 0px 15px;
        }

        .active .nav-link {
            text-decoration: 1.5px underline #0a93ce;

        }
    }
}

/* Footer */

#footer-form h3 {
    font-weight: bold;
    text-transform: uppercase;
}

#footer-links {
    background: #141414;

    p {
        font-weight: 600;
        color: #1b7ca6;
    }

    a {
        font-weight: 600;
        color: #1b7ca6;
        cursor: pointer;
        text-decoration: none;
        transition: .2s;

        & :hover {
            color: rgb(145, 191, 232);
            text-decoration: solid;
        }
    }

    hr {
        border-top: 1px solid #919191;
    }
}