// xl inf  a 1200
// lg 1199 a 992
// md 991  a 768
// sm 767  a 576
//    575  a inf

@media (max-width:1200px) {
    .detailBook .detBook {
        margin-bottom: 7px;
    }

    .detailBook .buttonGalery {
        padding-bottom: 15px !important;
    }

    .detailBook .contentDescription {
        max-height: 370px;
    }
}

@media (max-width:1199px) {
    .detailBook .contentDescription {
        max-height: 364px;
    }
}

@media (max-width: 991px) {
    //m991

    #header {
        box-shadow: none;
        position: inherit;

        nav {
            padding: 10px 0px 0px 0px !important;
            box-shadow: 0px 8px 9px 0px #a8a7a781;
        }

        .collapse li .nav-link {
            padding: 2px;
        }

        .navbar-expand-lg .show {
            padding-bottom: 15px;
        }
    }

    .layoutChild {
        min-height: 94vh;
        padding: 0px;
        margin-top: 0px;
    }
}

@media (max-width:900px) {

    .detailBook {
        .titleBook {
            font-size: 26px;
        }

        .observationRed {
            font-size: 16px;
        }

        .contentDescription {
            max-height: 296px;
        }
    }

    .buttonBuy2,
    .buttonBuy3,
    .buttonBuy,
    .buttonMore {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    //m767

    .layoutChild {

        #boxBook {
            justify-content: center;
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding: 0px !important;
            padding: 0px !important;

            .imgBook {
                padding: 0 0 25px 0;
            }

            .detailBook {
                padding: 5px 5px;
            }
        }
    }

    .developerInfo {
        display: flex;
        justify-content: center;

        p {
            margin: 15px 2px;
            // display: inline;
            text-align: center !important;
        }

        a p {
            text-decoration: underline;
            color: #a2adb1 !important;
        }
    }
}

@media (max-width: 500px) {
    // m550

    #bodyCont {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
}

/*--------------------------------------*/

@media (max-width: 1370px) {
    //m1370

    // .logo {
    //     width: 28vw;
    // }

    // #header a,
    // #header-transparent a {
    //     font-size: 0.9rem;
    // }
}

@media (max-width: 991px) {
    //m991

    // #navbar-toggler {
    //     display: none !important;
    // }

    // #navbar-toggler {
    //     display: none !important;
    // }

    // .collapse:not(.show) {
    //     display: none !important;
    // }

    // .navbar-toggler {
    //     display: flex !important;
    //     padding: 0.25rem 0.75rem;
    //     font-size: 1.25rem;
    //     line-height: 1;
    //     background-color: transparent;
    //     border: 1px solid transparent;
    //     border-radius: 0.25rem;
    // }

    // .navbar {
    //     position: relative;
    //     display: -ms-flexbox;
    //     display: flex;
    //     -ms-flex-wrap: wrap;
    //     flex-wrap: wrap;
    //     -ms-flex-align: center;
    //     align-items: center;
    //     -ms-flex-pack: justify;
    //     justify-content: space-between;
    //     padding: 0.5rem 1rem;
    // }
}

@media (max-width: 767px) {
    //m767

    // .noRightMargin {

    //     //     //aplicar en páginas con el error de margen a la derecha<s
    //     //     //si el contenido se sale de cuadro hay que arreglar el contenido, 
    //     //     //no borrar ni modificar estas lineas
    //     //     .row {
    //     //         min-width: 100% !important;
    //     //         max-width: 100vw !important;

    //     //         .col-md-12 .row,
    //     //         .col-md-11 .row,
    //     //         .col-md-10 .row {
    //     //             max-width: 100vw !important;
    //     //         }
    //     //     }

    //     //     .col-md-12 .row,
    //     //     .col-md-11 .row,
    //     //     .col-md-10 .row {
    //     //         margin-left: 0px !important;
    //     //         margin-right: 0px !important;
    //     //     }
    //     // }

    //     // .styleComputer {
    //     //     display: none !important;
    //     // }

    //     // .styleMobile {
    //     //     display: flex;
    //     // }

    //     // .styleMobile2 {
    //     //     display: block;
    //     // }

    //     // .styleMobile3 {
    //     //     display: inline;
    //     // }

    //     // .styleMobile4 {
    //     //     display: table-row;
    // }

    // .toggle {
    //     position: absolute;
    //     right: 10px
    // }

    // .deletePadding {
    //     .px-5 {
    //         padding-left: 1.5rem !important;
    //         padding-right: 1.5rem !important;
    //     }

    //     .mb-3 {
    //         margin-bottom: 0px !important;
    //     }
    // }
}


@media (max-width: 600px) {
    //m600

    // #header-transparent #navbarToggler.show {
    //     //
    //     background: #001637;
    //     z-index: 99;
    //     padding: 0px 20px;
    // }
}

@media (max-width: 400px) {
    //m400

    // .disp_cont {
    //     width: fit-content;

    // }

    // .hrStyle {
    //     margin-left: -20px !important;
    //     margin-right: -20px !important;
    // }
}

@media (max-width: 340px) {
    //m340   

    // .navbar {
    //     ////
    //     padding: 8px 1px !important;
    // }
}